body {
    background-color: rgb(20, 17, 24);
}

#head {
    color: rgba(255, 255, 255, 0.418);
}

.grid {
  display: flex;                       /* establish flex container */
  flex-wrap: wrap;                     /* enable flex items to wrap */
  justify-content: space-around;
  
}
.cell {
  flex: 0 0 32%;                       /* don't grow, don't shrink, width */
  height: 50px;
  margin-bottom: 5px;
  background-color: #999;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  display: flex;
}
          
.grid2 {
    display: flex;                       /* establish flex container */
    flex-wrap: wrap;                     /* enable flex items to wrap */
    justify-content: space-around;
}         

.cell2 {
    flex: 0 0 15%;                           /* don't grow, don't shrink, width */
    height: 50px;
    margin-bottom: 5px;
    background-color: #999;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    display: flex;
  }

.cell3 {
    flex: 0 0 100%;                           /* don't grow, don't shrink, width */
    height: 50px;
    margin-bottom: 5px;
    background-color: #999;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    display: flex;
}